@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

input {
	background-color: #EDEDEE;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 24vw;
}
.backgroundIMG{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}
.loginHead{
  background-color: #282C3C;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3vh 3vh 7px 7px;

}
.HeadImg{
  width: 6vh;
}
.HeadText{
  /* margin-bottom: 5px; */
  margin-left: 10px;
  font-size: 3.4vh;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  white-space: nowrap;
}
.imgSum{
  width: 80vw;
  height: 65vh;
  background-color: darkgray;
}
.loginBody{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loginMain{
  width: 120vmin;
  height: 60vh;
  background-color: white;
  border-radius: 3vh;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 70%);
  align-content: center;
  white-space: nowrap;
  display: flex;
/*justify-content: space-around; */
  flex-direction: column;
  text-align: center;
  
} 
/* .loginImgBox{ 로그인 오른쪽사진 박스 쓸거면 width 120vmin -> 60vmin 으로 바꾸고 활성화
  width: 60vmin;
  height: 60vh;

}
.loginImg{
  display: flex;
  width: 60vmin;
  height: 60vh;
  border-radius: 3vh 3vh 3vh 3vh;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 70%);
} */ 
.loginText{
  font-size: 4vh;
  font-weight: 700;
  white-space:nowrap; 
}
.textBox{
  font-size: 2vh;
  display: flex;
  white-space: nowrap;
  width: 120vmin;
  align-content: center;  
  justify-content: space-around;
  height: 5vh;
}
.btnLogin {
  padding: 10px 30px;
  color: #333;
  border: 1px solid #333;
  background: #fff;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}

.btnLogin:hover {
  border-color: #fff;
  background: #666;
  color: #fff;
}