@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;  
}
/* .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
} */
.mainBody{
  width: 85vw;
  height: 93vh;
  background-color: rgb(234 232 244);
  overflow: auto;
  position: relative;
}
.mainN{
  width:auto;
  height: 7vh;
  background-color: #21429d;
  margin-left: 20vh;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

.main {
  float: left;
  width: 85%;
  height: 70vh;
}
.mainOver {
  margin-left: 20vh;
  font-size: 10pt;
  height: 6vh;
  margin-top: 0;
  text-align: center;
  background-color: #21429d;
  
}
.filed{
  height: 15vh;
  width: 100%;
}
.inputA{ /*달력부분*/
  background-color: #EDEDEE;
    border: none;
    padding: 12px 15px;
    width: 24vw;
}
.inputB{
  background-color: #EDEDEE;
    border: none;
    padding: 12px 15px;

}
.buttonStyle{
  background-color: #2D3542;
  color: aliceblue;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 4px;
  margin-left: 2vw;
}

.tableH{
  width: 85vw;
}
.tableSet {
  margin-top: 10px;
  border: 1px gray solid;
}

.tableSet td,
th {
  border: 1px gray solid;
}

.tableBox{
  width: 85vw;
  height: auto;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.trStyle{
    color: white;
    background-color: #2D3542;
    ;
    height: 4vh;
    width: 85vw;
}
.mHead{
  width: 85vw;
  height: 25vh;
}
/* body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.main {
  float: left;
  width: 85%;
  height: 70vh;
}
.mainOver {
  font-size: 1vh;
  height: 6vh;
  width: auto;
  margin-top: auto;
  text-align: center;
  background-color: #21429d;
}

.tableSet {
  display: inline;
  margin-top: 10px;
  border: 1px gray solid;
}

.tableSet td,
th {
  border: 1px gray solid;
}
 */