@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
/* .container {
  width: 20vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
} */
.menu {
  float: left;
  width: 20vh;
  height: 85vh;
  background-color: rgb(218,227,243);
  font-size: 2vh;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}
.MenuName {
  cursor: pointer;
  margin-left: 10%;
}
.MenuDisappear {
  cursor: pointer;
  display: none;
  margin: 15%;
  width: auto;
}
.MenuName1 {
  cursor: pointer;
  margin: 10%;
}
.MenuDisappear1 {
  display: none;
  margin: 15%;
  width: auto;
  height: 35vh;
}
.MenuText {
  margin-top: 25%;
  cursor: pointer;
}
.MenuText:hover{
  background-color: rgb(132, 151, 176);
  width: auto;
  height: 3.9vh;
  border-radius: 10px;
}
.MenuMenu {
  cursor: pointer;
  height: 7vh;
  width: auto;
  font-size: 4vh;
  margin-top: 0;
  text-align: center;
  background-color: rgb(132, 151, 176);
  vertical-align: middle;
}

.MenuOver {
  font-size: 20pt;
  height: 7vh;
  margin-top: 0;
  text-align: center;
  background-color: rgb(218,227,243);
}
